/* @override http://cooper.local:5555/includes/admin-new.css */

/* @group Reset CSS */

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
ol, ul {
	list-style: none;
}
input{
	margin: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

body{
	background: #222;
}

#header{
	height: 30px;
	line-height: 30px;
	background: #FFF;
	position: relative;
}

#header ul{
	position: absolute;
	right: 10px;
	top: 0;
	display: none;
}

#header ul li{
	float: left;
}

#header ul li a{
	display: block;
}

#header h1,
#header a{
	color: #000;
}

p,a,h1,h2,h3,h4,h5,h6{
	color: #FFF;
}

ul#project-list{
	position: absolute;
	top: 0;
	display: block;
	width: 150px;
	height: 100%;
	border-right: 2px solid #FFF;
}

ul#project-list li{
	display: block;
	height: 30px;
	line-height: 30px;
	background: #000;
	width: 150px;
}

ul#project-list li.current,
ul#project-list li.current a{
	background: #FFF;
	color: #000;
}

ul#project-list li li{
}

ul#project-list li li.current,
ul#project-list li li.current a{
	background: #000;
	color: #FFF;
}

ul#project-list li ul{
	position: absolute;
	top: 0;
	left: 150px;
}

#footer{
	
}